.afDocumentsClickable {
    cursor: pointer;
}

.afDocumentsCard {
    border: 0px;
}

.afDocumentsScrollContainer {
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}